<div class="customer-details">

	<!-- <div ncy-breadcrumb></div> -->
	
	<section>
		
		<div class="page-header section-title">
			<h3>{{ $parent.pageTitle }}</h3>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<form name="$ctrl.customer.form" novalidate ng-submit="$ctrl.customer.submitHandler()">
					<div class="row">
						
						<div class="col-sm-3">
							<div 
								class="form-group" 
								ng-class="{ 'has-error': $ctrl.customer.form.firstName.$touched && $ctrl.customer.form.firstName.$invalid }">
								<label class="control-label" for="first-name-input">First Name</label>
								<input type="text" 
									name="firstName" 
									ng-model="$ctrl.customer.models.firstName" 
									class="form-control" 
						    	id="first-name-input"
									ng-required="true">
								<span 
									class="help-block" 
									ng-if="$ctrl.customer.form.firstName.$touched && $ctrl.customer.form.firstName.$error.required">
									Required!
								</span>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label" for="middle-name-input">Middle Name</label>
								<input type="text" 
									name="middleName" 
									ng-model="$ctrl.customer.models.middleName" 
									class="form-control" 
						    	id="middle-name-input">
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label" for="last-name-input">Last Name</label>
								<input type="text" 
									name="lastName" 
									ng-model="$ctrl.customer.models.lastName" 
									class="form-control" 
						    	id="last-name-input">
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label" for="nickname-input">Nickname</label>
								<input type="text" 
									name="nickname" 
									ng-model="$ctrl.customer.models.nickname" 
									class="form-control" 
						    	id="nickname-input">
							</div>
						</div>

					</div>
					<div class="row">
						
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label" for="gender-input">Gender</label>
								<select 
									name="gender" 
									ng-model="$ctrl.customer.models.gender" 
									class="form-control"
									id="gender-input">
									<option value="">Select One</option>
									<option value="M">Male</option>
									<option value="F">Female</option>
								</select>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label" for="title-input">Title</label>
								<select 
									name="title" 
									ng-model="$ctrl.customer.models.titleId" 
									class="form-control"
									id="title-input" 
									ng-options="value.id as value.name for value in $ctrl.titles">
									<option value="">Select One</option>
								</select>
							</div>
						</div>

						<div class="col-sm-3">
							<div 
								class="form-group" 
								ng-class="{ 'has-error': $ctrl.customer.form.ssn.$invalid }">
								<label class="control-label" for="ssn-input">SSN</label>
								<input type="text" 
									name="ssn" 
									ng-model="$ctrl.customer.models.ssn" 
									ng-pattern="/(\d{3})-(\d{2})-(\d{4})/"
									class="form-control"
									id="ssn-input"
									placeholder="###-##-####"
									data-ssn-input-mask="">
								<span class="help-block" ng-if="$ctrl.customer.form.ssn.$error.pattern">Invalid SSN!</span>
							</div>
						</div>

					</div>
					
					<button type="submit" class="btn btn-primary">
						Save Customer
					</button>

					<button type="button" class="btn btn-link" ui-sref="app.customers">
						Back to Search
					</button>

				</form>
			</div>
		</div>

	</section>

</div>