<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	
		<div class="navbar-header">
	    
	    <button type="button" class="navbar-toggle collapsed" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
	      <span class="sr-only">Toggle Menu</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    
	    <a class="navbar-brand" ui-sref="app.dashboard">
	      <i class="fa fa-empire" aria-hidden="true"></i>
	    </a>

	  </div>
	  
	  <nav class="collapse navbar-collapse" ng-class="{ 'in': !$ctrl.isCollapsed }" id="main-nav-bar">
	  	<div data-main-navigation=""></div>
	  	<div data-user-menu=""></div>	    
	  </nav>

	</div>
</header>

<div class="container" data-ui-view="main">
</div>

<footer>
	<div class="container">
		<p>&copy; {{ $ctrl.year }} Product Stack</p>
	</div>
</footer>