<div class="customers-search">
	
	<!-- <div ncy-breadcrumb></div> -->

	<section>
		
		<div class="page-header section-title">
			<h3>{{ $parent.pageTitle }}</h3>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				
				<div class="well well-sm">
					<i class="fa fa-info" aria-hidden="true"></i> 
					<strong>Please enter the search criteria and click the search button</strong>
				</div>
				
				<form name="$ctrl.search.form" novalidate ng-submit="$ctrl.search.submitHandler()">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
						    
						    <input type="text" 
						    	name="firstName"
						    	ng-model="$ctrl.search.models.firstName"
						    	class="form-control" 
						    	id="first-name-input" 
						    	placeholder="First Name" 
						    	aria-label="First Name">

						  </div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
						    
						    <input type="text" 
						    	name="lastName" 
						    	ng-model="$ctrl.search.models.lastName" 
						    	class="form-control" 
						    	id="last-name-input" 
						    	placeholder="Last Name" 
						    	aria-label="Last Name">

						  </div>
						</div>
					</div>

					<button type="submit" 
						class="btn btn-primary" 
						aria-label="Search Customers" 
						ng-disabled="$ctrl.search.models.firstName == '' && $ctrl.search.models.lastName == ''">
						Search
					</button>

					<button type="reset" class="btn btn-link" aria-label="Reset Form" ng-click="$ctrl.search.clear()">
						Clear
					</button>

				</form>

			</div>
		</div>

	</section>

	<section>
		
		<div class="page-header section-title">
			<h3>Search Results</h3>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div data-grid-view="$ctrl.gridViewConfig"></div>
			</div>
		</div>

	</section>

</div>