.grid-view {

  .table {

    thead {

      tr {

        th, td {
          padding-top: 12px;
          padding-bottom: 12px;
          background-color: $table-bg-accent;
          border-left: solid 1px lighten($table-border-color, 7%);

          &:first-child {
            border-left: none;
          }

          &.sorted {
            background-color: darken($table-bg-accent, 3%);
          }

          a {
            text-decoration: none;
            cursor: pointer;
            color: $gray-light;
          }

        }

      }

    }

    .actions {
      width: 100px;
    }
  
    .no-records {
      padding: 20px;
    }

  }

  &-footer {
    
    .items-per-page {

      select {
        margin-right: 10px;

        @media (max-width: 767px) {
          margin-bottom: 5px;
        }

      }

    }

  }

  .spinner {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}