.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
  
  > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    @include animation(sk-bouncedelay 1.4s infinite ease-in-out both);
  }

  .bounce1 {
    @include animation-delay(-0.32s);
  }

  .bounce2 {
    @include animation-delay(-0.16s);
  }
  
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    @include scale(0);
  } 40% { 
    @include scale(1.0);
  }
}
