/**
 * Bootstrap Overrides
 */

$primary-color: #ddd;
$dark-color: #000;

// colors
$state-danger-text: #FF0000 !default;
$state-danger-border: $state-danger-text !default;
$brand-primary: $dark-color !default;

// typography
$font-size-base: 12px !default;

// buttons
$btn-primary-color: $primary-color !default;
$btn-primary-bg: lighten($dark-color, 30%) !default;

// border-radius
$border-radius-base: 4px !default;
$border-radius-large: 4px !default;

// inputs
$input-border: $primary-color !default;



/**
 * Font Paths
 */

$icon-font-path: "../assets/fonts/bootstrap/" !default;
$fa-font-path: "../assets/fonts/font-awesome" !default;