<ul class="nav navbar-nav">
  <li ng-class="{ 'active': $state.current.name.indexOf('customer') != -1 }">
    <a ui-sref="app.customers">
      <i class="fa fa-user"></i>
      Customers
    </a>
  </li>
</ul>