<div>
	<div class="modal-header">
		<h3 class="modal-title">{{ title }}</h3>
	</div>
	<div class="modal-body">
	  {{ message }}  
	</div>
	<div class="modal-footer text-right">
	  <button class="btn btn-default" type="button" ng-click="actions.cancel()">No</button>
	  <button class="btn btn-primary" type="button" ng-click="actions.ok()">Yes</button>
	</div>
</div>